# MAP

In [45]:
def square(num):
    return num**2

In [46]:
map(square,[1,2,3,4])

In [47]:
res=list(map(square,[1,2,3]))

In [48]:
res

[1, 4, 9]

In [96]:
def addNumber(num1,num2):
    return num1+num2

In [97]:
add=list(map(addNumber,[1,2,3],[5,6,7]))

In [98]:
add

[6, 8, 10]

In [99]:
addd=list(map(addNumber,[1,2,3],[5,6]))

In [100]:
addd

[6, 8]

In [101]:
adddd=list(map(addNumber,[1,2,3],(6,7,8)))

In [102]:
adddd

[7, 9, 11]

In [103]:
addddd=set(map(addNumber,'Raj','Aman'))

In [104]:
addddd

{'RA', 'am', 'ja'}

In [117]:
name=['Rajan','Aman','Neha','Sanjay','Rinku']
namechar=list(map(set,name))

In [118]:
namechar

[{'R', 'a', 'j', 'n'},
 {'A', 'a', 'm', 'n'},
 {'N', 'a', 'e', 'h'},
 {'S', 'a', 'j', 'n', 'y'},
 {'R', 'i', 'k', 'n', 'u'}]

In [126]:
name=['Rajan','Aman','Neha','Sanjay','Rinku']
namecharr=list(map(list,name))

In [127]:
namecharr

[['R', 'a', 'j', 'a', 'n'],
 ['A', 'm', 'a', 'n'],
 ['N', 'e', 'h', 'a'],
 ['S', 'a', 'n', 'j', 'a', 'y'],
 ['R', 'i', 'n', 'k', 'u']]

In [131]:
name={'Rajan','Aman','Neha','Sanjay','Rinku'}
namecharrr=list(map(set,name))

In [132]:
namecharrr

[{'S', 'a', 'j', 'n', 'y'},
 {'R', 'i', 'k', 'n', 'u'},
 {'N', 'a', 'e', 'h'},
 {'R', 'a', 'j', 'n'},
 {'A', 'a', 'm', 'n'}]