## String

In [1]:
print('String')

String

In [2]:
test='String'

In [3]:
test

'String'

In [4]:
type(test)

str

In [5]:
print(type(test))

<class 'str'>

In [6]:
test.capitalize()

'String'

In [100]:
test2='rajan rai'

In [101]:
test2.capitalize()

'Rajan rai'

In [102]:
test2.casefold()

'rajan rai'

In [103]:
l='ooal'
test2.count(l[:2])

0

In [104]:
#test2.encode()

In [105]:
test2.endswith('tttttt')

False

In [106]:
#test2.expandtabs()

In [107]:
test2.find('t')

-1

In [108]:
test2.isdecimal()

False

In [109]:
test2.islower()

True

In [119]:
' '.join(['Rajan','Rai','From','Panipat'])

'Rajan Rai From Panipat'

In [120]:
test2.title()

'Rajan Rai'

# *arg

In [1]:
def add(*arg):
    s=0
    for i in arg:
        s=s+i
    return s

In [2]:
add(1)

1

In [3]:
add(1,2,3,4,5)

15

In [8]:
add(6,4,3,2,4,6,7,8,1)

41

# **karg

In [33]:
def my_fun(**kargs):
    print(kargs)

In [37]:
{'k1':1,'k2':3,'k3':4,'rajan':1}

{'k1': 1, 'k2': 3, 'k3': 4, 'rajan': 1}

In [38]:
l=dict(k1=1,k2=2,k3=3)

In [43]:
l.pop('k2')

2

In [44]:
l

{'k1': 1, 'k3': 3}

In [48]:
l['k3']=5

In [51]:
print(l['k3'])

5

In [52]:
l

{'k1': 1, 'k3': 5, 'k4': 5}

In [53]:
l.keys()

dict_keys(['k1', 'k3', 'k4'])

In [54]:
l.values()

dict_values([1, 5, 5])

In [59]:
def my_key_value(**raj):
    print(raj.keys())
    print(raj.values())
    print(raj.items())
    print(raj)

In [60]:
my_key_value(k1=1,k2=3,k3=5)

dict_keys(['k1', 'k2', 'k3'])
dict_values([1, 3, 5])
dict_items([('k1', 1), ('k2', 3), ('k3', 5)])
{'k1': 1, 'k2': 3, 'k3': 5}

In [63]:
my_key_value(k1=1,k2=3,k3=5,k4=4,k7=6)

dict_keys(['k1', 'k2', 'k3', 'k4', 'k7'])
dict_values([1, 3, 5, 4, 6])
dict_items([('k1', 1), ('k2', 3), ('k3', 5), ('k4', 4), ('k7', 6)])
{'k1': 1, 'k2': 3, 'k3': 5, 'k4': 4, 'k7': 6}

# Enumerate

In [118]:
l=[1,2,3,4,5,6]

In [119]:
obj=enumerate(l,100)

In [120]:
obj

In [121]:
type(obj)

enumerate

In [122]:
print(obj)

<enumerate object at 0x7f317a4312d0>

In [123]:
l1=set(obj)

In [124]:
l1

{(100, 1), (101, 2), (102, 3), (103, 4), (104, 5), (105, 6)}

In [128]:
for i,j in l1:
    print(i ,end=' ')
    print(j)

101 2
102 3
103 4
105 6
104 5
100 1

In [134]:
l=[1,2,3,4,5,6]
s='geek'
obj1=enumerate(l)
obj2=enumerate(s)
print(type(obj1))
print(type(obj2))
l1=list(obj1)
s2=list(obj2)
print(l1)
print(s2)

<class 'enumerate'>
<class 'enumerate'>
[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]
[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]

In [139]:
for i in enumerate(range(0,10),100):
    print(i)

(100, 0)
(101, 1)
(102, 2)
(103, 3)
(104, 4)
(105, 5)
(106, 6)
(107, 7)
(108, 8)
(109, 9)

In [151]:
for i,j in enumerate('Rajan'):
    print(i, end=' ')
    print(j)

0 R
1 a
2 j
3 a
4 n

In [152]:
i

4

In [153]:
j

'n'

In [157]:
for i in [(1,2,3,4),3]:
    print(i)

(1, 2, 3, 4)
3