In [1]:
s=input('Enter a String\n')

Enter a String
Rajan Rai from Panipat

In [2]:
s

'Rajan Rai from Panipat'

In [3]:
s[2]

'j'

In [8]:
s.count('r')

1

In [9]:
x=s.split()

In [10]:
x

['Rajan', 'Rai', 'from', 'Panipat']

In [11]:
type(x)

list

In [12]:
s

'Rajan Rai from Panipat'

In [13]:
s[::-1]

'tapinaP morf iaR najaR'

In [1]:
dict1={}

In [2]:
dict1

{}

In [3]:
dict1['Orange']=23

In [4]:
dict1

{'Orange': 23}

In [5]:
dict1['Apple']=120

In [7]:
dict1['Grapes']=100

In [8]:
dict1

{'Orange': 23, 'Apple': 120, 'Grapes': 100}

In [14]:
fruits=sorted(dict1.keys())

In [16]:
type(fruits)

list

In [21]:
dict1['Orange']=23

In [22]:
dict1.pop('Orange')

23

In [23]:
dict1

{'Apple': 120, 'Grapes': 100}

In [24]:
del dict1['Apple']

In [25]:
dict1

{'Grapes': 100}

In [26]:
dict1 =dict({'Onion':45,'Mango':90})

In [27]:
dict1

{'Onion': 45, 'Mango': 90}

In [61]:
t=()

In [62]:
t

()

In [63]:
type(t)

tuple

In [64]:
t=(1,2,3,4,5,6,1,2,4,5)

In [65]:
t

(1, 2, 3, 4, 5, 6, 1, 2, 4, 5)

In [66]:
t[1:]

(2, 3, 4, 5, 6, 1, 2, 4, 5)

In [67]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [68]:
x=(sorted(t))

In [69]:
t=(x)

In [71]:
type(t)

list

In [88]:
x=set()

In [89]:
type(x)

set

In [33]:
d=dict({'k1':1,'k2':2,'k3':3})

In [35]:
d.pop('k1')

1

In [36]:
d

{'k2': 2, 'k3': 3}

In [37]:
d.update('k3':4)

SyntaxError: invalid syntax (<ipython-input-37-10114937bcf8>, line 1)

In [1]:
%%writefile rajan.txt
hey my name is rajan 
I am from panipat
how are you

Writing rajan.txt

In [2]:
myfile=open('rajan.txt')

In [3]:
myfile.read()

'hey my name is rajan \nI am from panipat\nhow are you\n'

In [4]:
myfile.readline()

''

In [5]:
myfile.seek(0)

0

In [6]:
myfile.readline()

'hey my name is rajan \n'

In [7]:
myfile.seek(0)

0

In [20]:
myfile.seek(0)

0

In [21]:
l=list(myfile.readlines())

In [23]:
for i in l:
    print(i)

hey my name is rajan

I am from panipat

how are you

In [24]:
myfile.seek(0)

0

In [25]:
myfile.close()

In [30]:
with open('rajan.txt') as myefile:
    rajan=myefile.read()

In [31]:
rajan

'hey my name is rajan \nI am from panipat\nhow are you\n'

In [36]:
myfile=open('rajan.txt','w')

In [38]:
myfile.write()

TypeError: write() takes exactly one argument (0 given)

In [39]:
myfile.close()

In [1]:
list1=[0]
list1

[0]

In [3]:
len(list1)

1

In [4]:
list1.append(1)

In [5]:
list1

[0, 1]

In [6]:
len(list1)

2