In [1]:
from collections import namedtuple

In [2]:
N=int(input())

5

In [3]:
Student = namedtuple('Student',input())

MARKS CLASS NAME ID

In [4]:
Student

__main__.Student

In [5]:
rajan = Student(99,2,'Rajan',1)

In [6]:
rajan

Student(MARKS=99, CLASS=2, NAME='Rajan', ID=1)

In [7]:
rajan[0]

99

In [20]:
from collections import namedtuple
N,Student=int(input()),namedtuple('Student',input())
Student_class=[Student(*input().split()) for i in range(N)]

4
MARKS CLASS NAME ID
99 1 A 1
91 2 B 2
82 27 D 4
11 5 C 5

In [30]:
int(Student_class[0].MARKS)

99

In [33]:
Student_class[0].MARKS

'99'

In [45]:
sum([int(l.MARKS) for l in Student_class])/N

70.75

In [35]:
Student

__main__.Student

TypeError: print() argument after * must be an iterable, not property

In [80]:
from collections import OrderedDict

In [81]:
item=OrderedDict()

In [82]:
for i in range(int(input())):
    item_name,space,price=input().rpartition(' ')
    if item_name in item:
        item[item_name]=item[item_name]+int(price)
    else:
        item[item_name]=int(price)

5
A B 1
B A 4
A B 5
A B 4
B A 10

In [83]:
item

OrderedDict([('A B', 10), ('B A', 14)])

In [89]:
for _ in item:
    print(_,item[_])

A B 10
B A 14

In [92]:
word=OrderedDict()

In [93]:
for i in range(int(input())):
    temp=input()
    if temp in word:
        word[temp]+=1
    else:
        word[temp]=1

4
a
b
a
b

In [94]:
word

OrderedDict([('a', 2), ('b', 2)])

In [95]:
len(word)

2

In [96]:
l=[input() for i in range(int(input()))]
x=[input() for i in range(int(input()))]
print(l)

3
1
2
3
4
1
1
1
2
['1', '2', '3']

In [97]:
print(x)

['1', '1', '1', '2']

In [31]:
from collections import deque

In [32]:
l=[105965242,494136789,450676517,36179826,473818721,461541657,144408199,760779501,863646256,76190127]

In [33]:
d=deque(l)

In [34]:
d

deque([105965242,
       494136789,
       450676517,
       36179826,
       473818721,
       461541657,
       144408199,
       760779501,
       863646256,
       76190127])

In [35]:
temp=2147483649

In [36]:
while len(d)>0:
    l=d[0]
    r=d[-1]
    if l==r or l<r:
        if r<=temp:
            temp=d.pop()
        else:
            break
    else:
        if l<=temp:
            temp=d.popleft()
        else:
            break
if len(d)!=0:
    print('No')
else:
    print('Yes')

No

In [37]:
from collections import Counter

In [45]:
c=Counter('gooooggggllllleeeee')

In [47]:
c.most_common()

[('g', 5), ('l', 5), ('e', 5), ('o', 4)]

In [41]:
c=Counter(sorted('gooooogggglllleeeee'))

In [42]:
c

Counter({'e': 5, 'g': 5, 'l': 4, 'o': 5})

In [16]:
import re

In [99]:
num='552523'

In [100]:
re.findall(r'(?=((\d)\d\2))',num)

[('525', '5'), ('252', '2')]

In [71]:
re.

SyntaxError: invalid syntax (<ipython-input-71-7e1da8ee0506>, line 1)

In [101]:
l='5 3 4 1 5 1'

In [102]:
l.partition(' ')

('5', ' ', '3 4 1 5 1')

In [104]:
l.rpartition(' ')

('5 3 4 1 5', ' ', '1')

In [111]:
print(*(1,2,3))

1 2 3

In [112]:
import re

In [215]:
s='4567444223406790'

In [216]:
r=r'^[4-6]\d{3}-?\d{4}-?\d{4}-?\d{4}$'

In [219]:
re.findall(r,s)

['4']

In [218]:
r=r'(\d)\1\d{3}'

In [2]:
s=set('123456')